.evaluate {
  &__item {
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: #f2f2f2 solid 1px;
    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
      padding-bottom: 10px;
    }
    .evaluate__title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
    }
  }
  &__avatar {
    & > span {
      display: inline-block;
      color: rgb(153, 153, 153);
      background-color: rgb(211, 210, 211);
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      line-height: 48px;
      border-radius: 50%;
      width: 48px;
      height: 48px;
    }
  }
  &__info {
    margin-left: 12px;
    &__name {
      line-height: 20px;
      margin-right: 8px;
    }
    &__bought {
      color: rgb(0, 153, 0);
      align-items: center;
    }
    &__content {
      font-size: 14px;
    }
    .ico-tick {
      display: inline-block;
      position: relative;
      width: 16px;
      height: 16px;
      background-color: rgb(0, 153, 0);
      border-radius: 50%;
      z-index: 1;
      margin: 0px 5px 0px 0px;
      &:before {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 10px;
        height: 5px;
        border-left: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        transform: translate(-50%, -70%) rotate(-45deg);
      }
    }
  }

  &__date {
    font-size: 14px;
    line-height: 20px;
    color: rgb(153, 153, 153);
  }
  &__seller {
    background-color: #f2f2f2;
    color: #999999;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 0px 7px;
    border-radius: 4px;
  }

  &__content {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }
  &__images {
    margin-top: 15px;
    img {
      width: 158px;
      height: 158px;
      border-radius: 4px;
      background-size: cover;
      margin: 0px 6px 16px;
      cursor: pointer;
    }
  }

  &__thank {
    display: inline-flex;
    padding: 8px 16px 9px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(13, 92, 182);
    border: 1px solid rgb(13, 92, 182);
    font-weight: 500;
    border-radius: 4px;
    margin: 0px 8px 0px 0px;
    cursor: pointer;
  }
  &__reply {
    display: inline-block;
    padding: 8px 16px 9px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(13, 92, 182);
    font-weight: 500;
    cursor: pointer;
    user-select: none;
  }
  &__rate {
    &__content {
      color: #ffc120;
    }
  }
}
