.header {
  &__breadcrumb {
    background-color: #efefef;
    .breadcrumb {
      &-item {
        position: relative;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        margin-right: 25px;
        padding-right: 20px;
        color: rgb(153, 153, 153);
        font-size: 13px;
        font-weight: 300;

        &::before,
        &:after {
          content: "";
          position: absolute;
          right: 0px;
          width: 2px;
          height: 30px;
          background-color: rgb(225, 225, 225);
        }
        &::before {
          bottom: -6px;
          transform: rotate(40deg);
        }
        &::after {
          top: -6px;
          transform: rotate(-40deg);
        }

        &:last-child {
          color: rgb(51, 51, 51);
          &:before,
          &:after {
            content: none;
          }
        }
      }
    }
  }

  &__user {
    &__menu {
      display: none;
      border: 1px solid rgb(239, 239, 239);
      background: rgb(255, 255, 255);
      width: auto;
      min-width: 196px;
      z-index: 15;
      list-style: none;
      margin: 0px;
      padding: 10px 0px;
      border-radius: 0px 0px 3px 3px;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 12px 0px;
      position: absolute;
      top: 45px;
      left: calc(50% + 10px);
      transform: translateX(-50%);

      a {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 8px 20px;
        color: rgb(51, 51, 51);
        font-size: 12px;

        width: 265px;

        &:hover{
          background-color: rgb(245, 244, 245);
        }
      }

      span.content {
        display: block;
        span:nth-child(2) {
          font-size: 11px;
          line-height: 18px;
          display: block;
        }
      }
      span.img img {
        height: 21px;
        margin-right: 10px;
      }
    }

    &__account {
      position: relative;
    }
    &__account:hover {
      .header__user__menu {
        display: block;
        &:before {
          border-width: 9px;
          border-style: solid;
          border-color: transparent transparent rgb(255, 255, 255);
          border-image: initial;
          margin-left: -9px;
          bottom: 100%;
          left: 50%;
          content: " ";
          height: 0px;
          width: 0px;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          content: " ";
          background: transparent;
          height: 20px;
          width: 150px;
          top: -20px;
          left: calc(50% - 65px);
          position: absolute;
          display: inline-block;
        }
      }
    }
  }
}
