.detail {
  width: 920px;
  padding: 10px 20px;
  display: inline-block;
  color: rgb(36, 36, 36);
  line-height: 21px;
  text-align: justify;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;

  ul li {
    font-size: 13px;
    padding: 10px 15px;

    float:left;
    &:nth-child(2n + 1) {
      width: 220px;
      vertical-align: top;
      color: #4f4f4f;
      font-weight: 500;
      background: #efefef;
      display: inline-block;
    }

    &:nth-child(2n) {
      display: inline-block;
      width: calc(100% - 220px);
    }
 
    &:nth-child(4n) {
      background: #fafafa;
    }
  }
}
